body{
    background-color: rgb(94, 218, 94);
    text-align: center;
}

h1{
    color: rgb(76, 47, 204);
    font-style: oblique;
}

h2{
    color: rgb(206, 64, 64);
    font-style: italic;
    font-size: 50px;
}

img{
    width: 350px;
}

